*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(91, 91, 92);

}

img.card{
    float: right;
    max-width: 100px;
}
img.ligth{
    float: right;
    max-width: 40px;
    margin-top: 94px;
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 180px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.562);
}
h1{
    text-align: center;
}
div.ptBloc{
    text-justify: auto;
}
div.enBloc{
    text-justify: auto;
}
footer{
    font-size: 12px;
    margin-left: 130px;
}